body{
    background: -webkit-linear-gradient(90deg, #b7d6f2,#a2a4e7,#bc62b6);
    background: linear-gradient(90deg, #b7d6f2,#a2a4e7,#bc62b6);
}
p{
    text-align:justify;
}
h1{
border-radius: 22px;
background: #e24b4b;
box-shadow:-26px 26px 26px #5a1e1e,
     26px -26px 26px #ff7878;
    text-align:center;
}
h2{
border-radius: 24px;
background: #a14a4a;
box-shadow:26px 26px 49px #512525,
     -26px -26px 49px #f26f6f;
    text-align:center;
}
h3{
    color:#0f1010;
    background-color:#fb8969;
    border:solid;
    border-radius:28px;
    border-color: #110080;
    padding:28px;
    text-align:center;
}

*{
    padding: 0px;
    margin: 0px;  
  }
  #header{
      margin: auto;
      width: 800px;
  }
  ul, ol{
      list-style: none;
  }
  .nav li a{
    background-color: #3a3030;
      color: rgb(241, 25, 195);
      text-decoration: none;
      padding: 10px 30px;
      display: block;
  }
    
  .nav > li{
      float: left;
  }
  .nav li a:hover{
      background-color: #696666;
  }
  