body{
    background-color:#FF6D60;
}
p{
    text-align:justify;
}
h1{
    border-radius: 39px;
    background: #3cf42f;
    box-shadow:  20px 20px 70px #2fbe25,
    -20px -20px 70px #49ff39;
    text-align:center;
}
h2{
    border-radius: 39px;
    background: #d8e151;
    box-shadow:  20px 20px 70px #a8b03f,
     -20px -20px 70px #ffff63;
    text-align:center;
}
h3{
    color:#0f1010;
    background-color:#fb8969;
    border:solid;
    border-radius:28px;
    border-color: #110080;
    padding:28px;
    text-align:center;
}

*{
    padding: 0px;
    margin: 0px;  
  }
  #header{
      margin: auto;
      width: 1000px;
  }
  ul, ol{
      list-style: none;
  }
  .nav li a{
      background-color: #3a3030;
      color: rgb(15, 128, 156);
      text-decoration: none;
      padding: 10px 30px;
      display: block;
  }
  .nav > li{
      float: left;
  }
  .nav li a:hover{
      background-color: #696666;
  }